-- Add verification columns to users table
ALTER TABLE "users" ADD COLUMN IF NOT EXISTS "roll_number" text;
ALTER TABLE "users" ADD COLUMN IF NOT EXISTS "user_type" text DEFAULT 'student';
ALTER TABLE "users" ADD COLUMN IF NOT EXISTS "email_verified" boolean DEFAULT false;
ALTER TABLE "users" ADD COLUMN IF NOT EXISTS "verification_token" text;
ALTER TABLE "users" ADD COLUMN IF NOT EXISTS "verification_token_expiry" timestamp;
ALTER TABLE "users" ADD CONSTRAINT IF NOT EXISTS "users_roll_number_unique" UNIQUE("roll_number");
